<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SessionManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>validate</servlet-name>
  <servlet-class>com.grwt.sessionMang.zafar.SessionManagement</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>validate</servlet-name>
  <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>transfor</servlet-name>
  <servlet-class>com.grwt.sessionMang.zafar.ValidateUser</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>transfor</servlet-name>
  <url-pattern>/ValidateUser</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>login</servlet-name>
  <servlet-class>com.grwt.ssmang.adv.method.zafar.NormalMethod</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>login</servlet-name>
  <url-pattern>/Login/login</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>logout</servlet-name>
  <servlet-class>com.grwt.ssmang.adv.method.zafar.SessionDistroy</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>logout</servlet-name>
  <url-pattern>/logout</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>normal</servlet-name>
  <servlet-class>com.grwt.ssmang.adv.method.zafar.SessionCloseTimeManualy</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>normal</servlet-name>
  <url-pattern>/normal</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>abcd</servlet-name>
  <jsp-file>/TextFile.jsp</jsp-file>
  </servlet>
  <servlet>
  <servlet-name>session</servlet-name>
  <servlet-class>com.practice.whysess.zafar.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>session</servlet-name>
  <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>session1</servlet-name>
  <servlet-class>com.practice.whysess.zafar.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>session1</servlet-name>
  <url-pattern>/sec</url-pattern>
  </servlet-mapping>
</web-app>
