<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

 <servlet>
  <servlet-name>npr</servlet-name>
  <servlet-class>com.grwt.srvcxt.html.zafar.HtmlFormDispacher</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>npr</servlet-name>
  <url-pattern>/npr</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>asd</servlet-name>
  <servlet-class>com.grwt.srvcxt.html.zafar.TakeRequestInTheFromHtml</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>asd</servlet-name>
  <url-pattern>/asd</url-pattern>
  </servlet-mapping>
  </web-app>