<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
 <servlet>
  <servlet-name>abc</servlet-name>
  <servlet-class>com.grwt.call.servlet.zafar.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>abc</servlet-name>
  <url-pattern>/zafar</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>abcd</servlet-name>
  <servlet-class>com.grwt.call.servlet.zafar.SquareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>abcd</servlet-name>
  <url-pattern>/abc</url-pattern>
  </servlet-mapping>
 
 <servlet>
 <servlet-name>zafar</servlet-name>
 <servlet-class>com.grwt.call.servlet.redir.zafar.FirstServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>zafar</servlet-name>
 <url-pattern>/abcd</url-pattern>
 </servlet-mapping>
  <servlet>
  <servlet-name>imam</servlet-name>
  <servlet-class>com.grwt.call.servlet.redir.zafar.SquareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>imam</servlet-name>
  <url-pattern>/imam</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>url</servlet-name>
  <servlet-class>com.grwts.zafar.urlRewriting.FirsrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>url</servlet-name>
  <url-pattern>/url</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>url1</servlet-name>
  <servlet-class>com.grwts.zafar.urlRewriting.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>url1</servlet-name>
  <url-pattern>/url1</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  </web-app>